<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>交易客户端</title>

    <link rel="stylesheet" href={{url_for('modules', filename='bootstrap.min.css')}}>
    <script src={{url_for('modules', filename='jquery-3.1.1.min.js')}}></script>
    <script src={{url_for('modules', filename='bootstrap.min.js')}}></script>
    <script src={{url_for('modules', filename='jquery.validate.min.js')}}></script>
    <script src={{url_for('modules', filename='js-cookie.js') }}></script>
    <script src={{url_for('public', filename='js/info_js/info.js') }}></script>
    <script src={{url_for('public', filename='js/log_in_js/log_in.js')}}></script>

    <style>
        span1{font-size:20px; color:black;}
        span2{font-size:15px; color:black;}
    </style>

    <link rel="stylesheet" href={{url_for('public', filename='css/index.css')}}>
</head>

<body onload="time()">
<div class="wrapper">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <h3>功能区</h3>
        </div>

        <ul class="list-unstyled components">
            <p>选择功能</p>
            <li class="active">
                <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="true" class="">账户查询</a>
                <ul class="list-unstyled collapse in" id="accountSubmenu" aria-expanded="true" style="">
                    <li><a href="stock_info">证券账户查询</a></li>
                    <li><a href="fund_info">资金账户查询</a></li>
                </ul>
            </li>
            <li>
                <a href="stock_query">股票查询</a>
                <a href="#transactionSubmenu" data-toggle="collapse" aria-expanded="true" class="">发起交易</a>
                <ul class="list-unstyled collapse in" id="transactionSubmenu" aria-expanded="true" style="">
                    <li><a href={{url_for('buy')}}>购买股票</a></li>
                    <li><a href={{url_for('sell')}}>出售股票</a></li>
                    <li><a href={{url_for('cancel')}}>撤销指令</a></li>
                </ul>
            </li>
            <li>
                <a href="info">高级提醒功能</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li><a href="/home" class="article">回到网上信息发布系统</a></li>
        </ul>
    </nav>

    <div id="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/index">主界面</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a id="showtime" href="#"></a></li>
                        <li><a href="#">交易客户端</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                属性
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">修改密码</a></li>
                                <li><a href="log_in" onclick="logout()">登出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="client-main" align="center">

            <p><span1>修改您的密码</span1></p>
            <br />

            <div>
                <span2 style="display:inline-block;width:80px;text-align:right;">原密码</span2>
                &nbsp&nbsp
                <input type="password" id="oldpswd" class="form-control" style="display:inline-block;height:36px;width:240px;">
            </div>
            <br />
            <div>
                <span2 style="display:inline-block;width:80px;text-align:right;">新密码</span2>
                &nbsp&nbsp
                <input type="password" id="newpswd1" class="form-control" style="display:inline-block;height:36px;width:240px;">
            </div>
            <br />
            <div>
                <span2 style="width:80px;text-align:right;">确认新密码</span2>
                &nbsp&nbsp
                <input type="password" id="newpswd2" class="form-control" style="display:inline-block;height:36px;width:240px;">
            </div>
            <br /><br />
            <a class="btn btn-default" role="button" onclick=change() style="height:40px; width:60px">
                <font color='black' size='3'>提 交</font>
            </a>
        </div>

    </div>

</div>

<!--info-->
<div class="modal fade" id="infoModalPopovers" tabindex="-1" role="dialog" aria-labelledby="infoModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="infoModalPopoversLabel">股票交易提醒</h4>
            </div>
            <div class="modal-body">
                <h5>详细信息显示</h5>
                <p>股票代码
                    <a href="#" role="button" class="btn btn-secondary" data-container="#infoModalPopovers" id="infoModalPopovers_stock_id">

                    </a>
                    <a href="#" role="button" class="btn btn-secondary" data-container="#infoModalPopovers" id="infoModalPopovers_info_type">

                    </a>
                    设定
                    <a href="#" role="button" class="btn btn-secondary" data-container="#infoModalPopovers" id="infoModalPopovers_stock_price">

                    </a> 价格</p>
                <hr>
                <h5>前往交易</h5>
                <p>前往 <a href="#" role="button" class="btn btn-secondary" data-container="#infoModalPopovers">股票交易系统</a> 发起交易 或 前往 <a href="#" role="button" class="btn btn-secondary" data-container="#infoModalPopovers">网上信息发布系统</a> 查看详细信息</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="advance_info.stop_info()">不再提醒</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
        advance_info = new Info();
        advance_info.interval_check();
    });
</script>

</body>
</html>