{% extends 'base.html' %}

{% block title %}
    主页
{% endblock %}

{% block c1%}active{% endblock %}

{% block head%}
    <style>
        #d1
        {
            width: 450px;
            margin:0 auto;
        }
        #d4
        {
            width:450px;
            margin:0 auto;
            <!--margin-top: 40px;-->
            <!--font-size: 40px;-->
            <!--text-align:center;-->
        }
        #myForm
        {
            font-size: 20px;
            margin-bottom: 10px;
        }
        #b1
        {
            width: 340px;
            margin-top: 10px;
        }
        #l
        {
            width: 100px;
        }
        .klinegraph{
        width:900px;
        padding:10px;
        border:3px solid gray;
        margin:0px auto;
        }
    </style>

    {% for jsfile_name in script_list %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}

    <script>
        var list = new Object()
        var lnum = 0

        {% for i in presentResults %}
            list[lnum] = '{{ i[0] }}'
            lnum++
        {% endfor %}

        window.addEventListener("load", function() {
            setTimeout('timing()', 5000)
        })
        function timing() {
            var aj = new XMLHttpRequest();
            aj.open('POST', '/AJAXinfo', true)
            aj.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
            aj.send('list=' + JSON.stringify(list));
            aj.onreadystatechange = function() {
                if(aj.readyState == 4 && aj.status == 200) {
                    var now = new String()
                    now = aj.responseText
                    var res = now.split(";")

                    for(var i = 0; i < lnum; i++) {
                        var resrow = new String()
                        resrow = res[i].split(",")
                        //这里直接遍历一行，如果有不需要的内容可以给cnt加特判
                        for(var cnt = 0; cnt < 9; cnt++) {
                            //记得给table加上id=‘restable’
                            var tab = document.getElementById('restable').rows[i + 1].cells[cnt]
                            tab.innerHTML = resrow[cnt]
                        }
                    }
                }
            }

            setTimeout('timing()', 5000)
        }

        function fresh() {
            var aj = new XMLHttpRequest();
            aj.open('POST', '/AJAXinfo', true)
            aj.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
            aj.send('list=' + JSON.stringify(list));
            aj.onreadystatechange = function() {
                if(aj.readyState == 4 && aj.status == 200) {
                    var now = new String()
                    now = aj.responseText
                    var res = now.split(";")

                    for(var i = 0; i < lnum; i++) {
                        var resrow = new String()
                        resrow = res[i].split(",")
                        //这里直接遍历一行，如果有不需要的内容可以给cnt加特判
                        for(var cnt = 0; cnt < 9; cnt++) {
                            //记得给table加上id=‘restable’
                            var tab = document.getElementById('restable').rows[i + 1].cells[cnt]
                            tab.innerHTML = resrow[cnt]
                        }
                    }
                }
            }
        }
    </script>

{% endblock %}

{% block main %}

    <!-- 查询 -->
<div class=container style="text-align:center">
      <h3 class=bs-docs-featurette-title>股票详情查询</h3>
</div>

<form method="POST" action="/query">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="input-group">
                    <input type="text" name="name" class="form-control" placeholder="请输入检索关键字" autocomplete="off" required>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" ><span class="glyphicon glyphicon-search"></span> 检索</button>
                    </span>
                </div>
            </div>
        </div>
    </div><br/>
    <div class=container style="text-align:center">
        <label>  检索内容  </label>
        <label class="radio-inline">
            <input type="radio" name="optionsRadiosinline" id="querybycode" value="stockcode" checked> 股票代码
        </label>
        <label class="radio-inline">
            <input type="radio" name="optionsRadiosinline" id="querybyacro"  value="stockacro"> 股票简称
        </label>
        <!-- 错误信息 -->
            {% for v in get_flashed_messages(category_filter=['err']) %}
                <div class="alert alert-warning" id="d4">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ v }}
                </div>
            {% endfor %}
        <hr class=half-rule>
    </div>
</form>


    <!-- K 线 图 预 览 -->
    <div class=container style="text-align:center">
          <h3 class=bs-docs-featurette-title>大盘曲线一览</h3>
        <!--<p class=lead><small></small>下图为本平台关联所有股票大盘信息图。</p>-->
    </div>
    <div class=container style="margin 0px auto">
        <div class="klinegraph">
        {{ myechart|safe }}
        </div>
    </div><br/>
    <!-- 未完成 -->
    <!-- 所有股票信息显示预留 -->
<br/>
<div class=container style="text-align:center">
    <hr class="half-rule">
      <h3 class=bs-docs-featurette-title>股票基本信息</h3>
    <p class=lead><small></small>下表所示为本平台关联所有股票的基本信息，页面每5秒自动刷新数据，可根据需要手动刷新。</p>
</div>
    <div class="container" id="d3">
        <div class="row">
                {% if presentResults %}
                <table class="table table-hover table-bordered" id="restable">
                    <caption style="text-align:center"><b>信息全览</b></caption>
                    <thead>
                        <tr>
                            <th style="vertical-align: middle;text-align: center">股票代码</th>
                            <th style="vertical-align: middle;text-align: center">股票名称</th>
                            <th style="vertical-align: middle;text-align: center">当前价格（元）</th>
                            <th style="vertical-align: middle;text-align: center">涨幅（%）</th>
                            <th style="vertical-align: middle;text-align: center">涨跌（元）</th>
                            <th style="vertical-align: middle;text-align: center">昨日收盘价（元）</th>
                            <th style="vertical-align: middle;text-align: center">今日开盘价（元）</th>
                            <th style="vertical-align: middle;text-align: center">今日最高价（元）</th>
                            <th style="vertical-align: middle;text-align: center">今日最低价（元）</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for i in presentResults %}
                        <tr>
                            <td>{{ i[0] }}</td>
                            <td>{{ i[1] }}</td>
                            <td>{{ i[2] }}</td>
                            <td>{{ i[3] }}</td>
                            <td>{{ i[4] }}</td>
                            <td>{{ i[5] }}</td>
                            <td>{{ i[6] }}</td>
                            <td>{{ i[7] }}</td>
                            <td>{{ i[8] }}</td>
                        </tr>
                            {% endfor %}
                    </tbody>
                </table>
                {% endif %}
</div>
<br/>
        <!-- 添加刷新按钮 -->
                <!-- 未完成 -->
                <center><button class="btn btn-primary" style="text-align:center" onclick="fresh()"><b>刷新</b></button></center>
                <nav aria-label="Page navigation" style="text-align:center">
                    <ul class="pagination">
                        {{ html|safe }}
                    </ul>
                </nav>
            </div>
            </div>
{% endblock %}


