<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">


    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <style>
        .form-container{
            width: 300px;
            margin: 0 auto;
        }
        .page-title{
            text-align: center;
        }
        #d4
        {
            width = 450px;
            margin:0 auto;
            margin-top: 40px;
            font-size: 40px;
            text-align:center;
        }
    </style>
</head>
<body>
    <form action="/" method="post" class="myForm">
    <h2 class="page-title">手机接收验证码模拟</h2>
        <div class="form-container">
            <div class="form-group">
                <input type="number" class="form-control" placeholder="手机号码" name="telephone" value = {{value}} required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" name="phone" id="sub">点击获得手机验证码</button>
            </div>
            <div class="from-group">
                <p align="center">{{msg}}</p>
            </div>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>

                {{ message }}
            </div>
            {% endfor %}
        </div>
    </form>

</body>
</html>