{% extends 'base.html' %}

{% block title %}
    股票查询
{% endblock %}

{% block c1%}active{% endblock %}

{% block head%}
    <style>
        #d1
        {
            width: 450px;
            margin:0 auto;
        }
        #d4
        {
            width = 450px;
            margin:0 auto;
            margin-top: 40px;
            font-size: 40px;
            text-align:center;
        }
        #myForm
        {
            font-size: 20px;
            margin-bottom: 10px;
        }
        #b1
        {
            width: 340px;
            margin-top: 10px;
        }
        #l
        {
            width: 100px;
        }
    </style>

    {% for jsfile_name in script_list1 %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}

    {% for jsfile_name in script_list2 %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}

    {% for jsfile_name in script_list3 %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}

    {% for jsfile_name in script_list4 %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}

{% endblock %}

{% block main %}

    <!-- 查询 -->
    <div id="d1">
        <form id="myForm" method="post" action="/query">
            <label for="stock" id="l">股票代码或股票名字:</label>
            <input name="stock" id="stock" required>
            <button type="submit" class="btn btn-primary btn-block" id="b1">查询</button>
        </form>
    </div>

    <!-- 错误信息 -->
    {% for v in get_flashed_messages(category_filter=['err']) %}
        <div id="d4">
            <p style="color:red;"><strong>{{ v }}</strong></p>
        </div>
    {% endfor %}


    <!-- 日k -->
    {{ myechart1|safe }}

    <!-- 月k -->
    {{ myechart2|safe }}

    <!-- 年k -->
    {{ myechart3|safe }}



    <!-- 所有股票信息显示预留 -->
    <div class="container" id="d3">
        <div class="row">
                {% if presentResults %}
                <table>
                    <caption>查询结果</caption>
                    <thead>
                        <tr>
                            <th>股票代码</th>
                            <th>股票名称</th>
                            <th>当前价格（元）</th>
                            <th>涨幅（%）</th>
                            <th>涨跌（元）</th>
                            <th>昨日收盘价（元）</th>
                            <th>今日开盘价（元）</th>
                            <th>今日最高价（元）</th>
                            <th>今日最低价（元）</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for i in presentResults %}
                        <tr>
                            <td>{{ i[0] }}</td>
                            <td>{{ i[1] }}</td>
                            <td>{{ i[2] }}</td>
                            <td>{{ i[3] }}</td>
                            <td>{{ i[4] }}</td>
                            <td>{{ i[5] }}</td>
                            <td>{{ i[6] }}</td>
                            <td>{{ i[7] }}</td>
                            <td>{{ i[8] }}</td>
                        </tr>
                            {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                <nav aria-label="Page navigation" class="pull-right">
                    <ul class="pagination">
                        {{ html|safe }}
                    </ul>
                </nav>
        </div>
    </div>

{% endblock %}