
<html>
<head>
    <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://assets-cdn.github.com">
  <link rel="dns-prefetch" href="https://avatars0.githubusercontent.com">
  <link rel="dns-prefetch" href="https://avatars1.githubusercontent.com">
  <link rel="dns-prefetch" href="https://avatars2.githubusercontent.com">
  <link rel="dns-prefetch" href="https://avatars3.githubusercontent.com">
  <link rel="dns-prefetch" href="https://github-cloud.s3.amazonaws.com">
  <link rel="dns-prefetch" href="https://user-images.githubusercontent.com/">
  <link crossorigin="anonymous" media="all" integrity="sha512-PkbtxdWDpLChpxtWQ0KbvJoef4XMYPq5pfd/ZmylYZTzXYpCfGwN9d+bsSKcmOJLwTkfjFkfj5wz3poDrhJoSQ==" rel="stylesheet" href="https://assets-cdn.github.com/assets/frameworks-f6e6ce21346c0d2eb22def1e8534afcb.css" />
   <link crossorigin="anonymous" media="all" integrity="sha512-zyxweUSm/NG+juywqcMFSS4HbKjLWCZyEM2JjoCqnQUU6RVrHpHMwH66xreiaeMIRoA6vYuk0hm8S1X42r/YWQ==" rel="stylesheet" href="https://assets-cdn.github.com/assets/site-220df28424b63d1e24f3bd909efebe81.css" />
  <link crossorigin="anonymous" media="all" integrity="sha512-0BWCA/R6u2ObTpfsUgMSBEyTMfOY1V9wGfqpR/U9O9tc/BFc53yM/UKaeK950BOFvlIM0BFc2lrr6CHkg095YA==" rel="stylesheet" href="https://assets-cdn.github.com/assets/github-22f66197d69af5eeca9f48295c52743e.css" />
  <meta name="viewport" content="width=device-width">
  <title>密码找回</title>
  <meta name="user-login" content="">
  <meta name="viewport" content="width=device-width">
    <title>验证码</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <style>

      #cx
      {
        height:94%

      }

      #xin
      {
        padding: 0px;
        margin: 0px;
      }
    </style>

</head>
<body>
        <nav class="navbar navbar-inverse navbar-static-top" id='xin' role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color:white"><span class="glyphicon glyphicon-signal"></span> 信息发布系统</a>
    </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('retrieve') }}" style="color:white"><span class="glyphicon glyphicon-pencil"></span> 密码找回</a></li>
		 <li><a href="{{ url_for('login') }}" style="color:white"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
		 <li><a href="{{last_url}}" style="color:white"><span class="glyphicon glyphicon-log-out"></span> 返回</a></li>
        </ul>
    </div>
    </nav>
<div class="py-6 py-sm-8 py-lg-10 py-xl-12 jumbotron-codelines" id="cx">
    <div class="container-lg p-responsive position-relative">
        <div class="d-md-flex flex-items-center gutter-md-spacious">
            <div class="mx-auto col-sm-8 col-md-5 hide-sm">
                <div class="rounded-1 text-gray bg-gray-light py-4 px-4 px-md-3 px-lg-4">
        <div style="text-align:center"><h2>输入验证码</h2></div>
         <form class="home-hero-signup js-signup-form" autocomplete="off" action="/retrieve/verification" accept-charset="UTF-8" method="post">
                <div>
                    <button class="btn btn-default btn-block" type="button"  name="phone"  onclick="resend();time(this)" id="sub">点击重新发送手机验证码</button>
                </div>
                <script language="javascript" type="text/javascript">
                    function resend() {
                        var aj = new XMLHttpRequest();
                        var tel = document.getElementById("_telephone").value;
                        aj.open("GET", "/ajax?tel="+tel);
                        aj.send();
                        aj.onreadystatechange = function(){
                            if(this.readyState == 4 && this.status == 200){
                                myobj = JSON.parse(this.responseText);
                                document.getElementById("vno").value = myobj.vno;
                            }
                        }
                    }
                </script>
                <div class="form-group">
                    <input type="text" class="form-control"  name="vno" id = "vno"  value="{{vno}}" style="display:none;">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"  name="_username" id = "_username"  value="{{user_name}}" style="display:none;">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="_telephone" id="_telephone"  value="{{telephone}}" style="display:none;">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="_time" id="_time"  value="{{time}}" style="display:none">
                </div>
                <script language="javascript" type="text/javascript">
                    var wait=document.getElementById("_time").value;
                    function time(o) {
                        if (wait == 0) {
                            o.removeAttribute("disabled");
                            o.innerHTML="点击发送手机验证码";
                            document.getElementById("_time").value = 60;
                            wait = document.getElementById("_time").value;
                        } else {
                            o.innerHTML=wait+"秒后可以重新发送";
                            o.setAttribute("disabled", true);
                            document.getElementById("_time").value=wait;
                            wait--;
                            setTimeout(function() {
                                    time(o)
                                },
                                1000)
                        }
                    }
                </script>
                <script language="javascript" type="text/javascript">
                    time(document.getElementById("sub"))
                </script>
            <dl class="form-group mt-0">
                <dt class="input-label">
                  <label class="form-label f5" for="code">验证码</label>
                </dt>
                <dd>
                    <input id="code" type="number" class="form-control form-control-lg input-block" placeholder="验证码" name="verification" required>

                </dd>
            </dl>
            <dl class="form-group mt-0">
                <dt class="input-label">
                  <label class="form-label f5" for="password1">新密码</label>
                </dt>
                <dd>
                    <input id ="password1" type="password" class="form-control form-control-lg input-block" placeholder="请输入新密码" name="password1" required maxlength="16">
                </dd>
            </dl>
             <dl class="form-group mt-0">
                <dt class="input-label">
                  <label class="form-label f5" for="password2">确认密码</label>
                </dt>
                <dd>
                    <input id ="password2" type="password" class="form-control form-control-lg input-block" placeholder="再次输入新密码" name="password2" required maxlength="16">
                </dd>
            </dl>
                <button class="btn btn-primary btn-block" type="submit" name="confirm" id="ok" >确认修改</button>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>

                {{ message }}
            </div>
            {% endfor %}
         </form>
        </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>