<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>证券账户注销界面</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
	var error_message = {{ error_message | tojson}};
	if (error_message=="" || error_message==null){
	}
	else{
		alert(error_message);
	}
	</script>
</head>
<script type="text/javascript">
function test(Names){
    var Name;
    for (var i=1;i<3;i++){    
        var tempname="mune_x"+i                                                                            
        var NewsHot="x"+i    
        if (Names==tempname){
            Nnews=document.getElementById(NewsHot)
            Nnews.style.display='';
        }else{
            Nnews=document.getElementById(NewsHot)
            Nnews.style.display='none';   
        }
    }
}
</script>
<script>
function validatePerForm(){
var username=document.forms["per_loss_form"]["username"].value;
var ID_card=document.forms["per_loss_form"]["ID_card"].value;
if (ID_card==null || ID_card==""){
  alert("身份证必须填写！");
  return false;
  }
if (username==null || username==""){
  alert("证券账号必须填写！");
  return false;
  }
}
function validateCorForm(){
	var username=document.forms["cor_loss_form"]["username"].value;
	var registration_number=document.forms["cor_loss_form"]["registration_number"].value;
	if (registration_number==null || registration_number==""){
	  alert("法人注册登记号必须填写！");
	  return false;
	  }
	if (username==null || username==""){
	  alert("证券账号必须填写！");
	  return false;
	  }
	}
</script>
<script>
function Conf(){
if(confirm("确认销户吗？")){
	return;
  }
  else{
   alert("销户已撤销")
   return;
  }
}
</script>
<body>

<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid"> 
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#example-navbar-collapse">
			<span class="sr-only">切换导航</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand">证券账户管理系统</a>
	</div>
	<div class="collapse navbar-collapse" id="example-navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="security_main">主页</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					账户管理 <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li class="divider"></li>
					<li><a href="security_personal_user_reg">注册个人证券账户</a></li>
					<li class="divider"></li>
					<li><a href="security_coporate_user_reg">注册法人证券账户</a></li>
					<li class="divider"></li>
					<li><a href="security_report_loss">挂失证券账户</a></li>
					<li class="divider"></li>
					<li><a href="security_logoff">证券账户销户</a></li>
				</ul>
			</li>
			<li><a href="security_main">返回上一级</a></li>
			<li><a href="about">关于</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
        <li><a href="security_manager_login">登出</a></li>
        </ul>
	</div>
	</div>
</nav>

<h1 align="center"><strong>证券账户销户信息验证</strong></h1>
<hr style="height:1px;border:none;border-top:3px solid #E6E6F2;" />
<fieldset class="cont">
    <div class="list">
        <label><s>*</s>销户账户类型</label>
        <select size="1" name="D1" onChange="javascript:test('mune_x'+this.value)">  
            <option value="1">个人账户</option> 
            <option value="2">法人账户</option> 
        </select> 
    </div>
        
    <div class="list" id="x1">
        <div style="padding: 30px 350px 100px">
        <form  name="per_loss_form" class="form-group" role="form" action="" method="post" onsubmit="return validatePerForm()">
		<table class="table table-striped">
		   <tbody>
		      <tr>
		         <td class="text-center" width="170px"><strong>身份证号</strong></td>
		         <td><div class="input-group-right">
		         	<input type="text" class="form-control" style="border-radius:5px" placeholder="ID_card" width="200px" name="ID_card">
		         </div></td>
		      </tr>
		      <tr>
		         <td class="text-center" width="170px"><strong>证券账号</strong></td>
		         <td><div class="input-group-right">
		         	<input type="text" class="form-control" style="border-radius:5px" placeholder="000001" width="200px" name="username">
		         </div></td>
		      </tr>
		      <tr>
		      	 <td width="170px"></td>
		      	 <td><div>
				  	<button type="submit" class="btn btn-success" style="width:75px"onclick="Conf()">验证</button>
				  	<button type="reset" class="btn btn-Info" style="width:75px">重置</button>
				  	</div>
				 </td>
		      </tr>
		   </tbody></table>
	 	</form>
	 	</div>
    </div>

    <div class="list" id="x2" style="display:none">
         <div style="padding: 30px 350px 100px">
        <form action="/security_logoff_agent" name="cor_loss_form" class="form-group" role="form" action="" method="post" onsubmit="return validateCorForm()">
		<table class="table table-striped">
		   <tbody>
		      <tr>
		         <td class="text-center" width="170px"><strong>法人注册登记号</strong></td>
		         <td><div class="input-group-right">
		         	<input type="text" class="form-control" style="border-radius:5px" placeholder="registration_number" width="200px" name="registration_number">
		         </div></td>
		      </tr>
		      <tr>
		         <td class="text-center" width="170px"><strong>证券账号</strong></td>
		         <td><div class="input-group-right">
		         	<input type="text" class="form-control" style="border-radius:5px" placeholder="000001" width="200px" name="username">
		         </div></td>
		      </tr>
		      <tr>
		      	 <td width="170px"></td>
		      	 <td><div>
				  	<button type="submit" class="btn btn-success" style="width:75px" onclick="Conf()">验证</button>
				  	<button type="reset" class="btn btn-Info" style="width:75px">重置</button>
				  	</div>
				 </td>
		      </tr>
		   </tbody></table>
	 	</form>
	 	</div>
    </div>
</fieldset>

</body>
</html>